* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("https://wallpapers.com/images/hd/rain-desktop-wmfhwomu4z9gyngu.jpg") fixed no-repeat center/cover;
    animation: changebg 20s ease-in-out infinite;
}

@keyframes changebg {
    from {
        background-image: url("https://wallpapers.com/images/hd/rain-desktop-wmfhwomu4z9gyngu.jpg");
    }

    to {
        background-image: url("https://img.freepik.com/free-photo/field-covered-greenery-cloudy-sky-beautiful-sunset-evening_181624-13767.jpg?semt=ais_hybrid&w=740&q=80");
    }
}

section::before {
    position: absolute;
    content: "";
    background-color: rgba(54, 53, 53, 0.439);
    height: 100vh;
    width: 100%;
}

.container {
    position: absolute;
    z-index: 10;
    max-width: 380px;
    height: 450px;
    border-radius: 20px;
    border: 1px solid rgb(105, 104, 104);
    backdrop-filter: blur(20px);
    background: rgba(159, 156, 156, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.container h2 {
    margin: 15px 0;
}

.weatherinput {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.weatherinput input {
    padding: 12px;
    width: 280px;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
}

.weatherinput input:focus {
    box-shadow: 0 0 15px 10px rgba(0, 234, 255, 0.27);
    outline: none;
    border: none;
}

.weatherinput button {
    padding: 10px;
    width: 100px;
    background: none;
    border: none;
    border-radius: 10px;
    outline: 1px solid rgba(44, 43, 43, 0.465);
    color: rgb(2, 2, 2);
    transition: all 0.5s;
}

.weatherinput button:hover {
    background: linear-gradient(180deg, rgb(6, 67, 236) 0%, rgba(13, 33, 212, 0.493) 65%);
    border: 1px solid rgb(71, 71, 71);
    cursor: pointer;
    color: white;
}

.weatherresult {
    margin: 0 0 0 20px;
}

.weatherresult h3 {
    padding: 8px;
}

.weatherresult p {
    padding: 8px;
}

.resultcontainer {
    width: 250px;
    transition: all 0.2s
}

@media (max-width:768px) {
    .container {
        position: absolute;
        z-index: 10;
        width: 300px;
        height: 450px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        background: rgba(159, 156, 156, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}